app-progress-bar {
    width: 90%;
}

button {
    width: 100%;
    height: 40px;
}

.initInput {
    display: flex;
    input {
        margin-left: 20px;
        height: 40px;
        font-size: 20px;
        flex:1;
        min-width: 50px;
    }
}